# Solo funciona si ya se hace desde una imagen con server {}
server {
	listen		80 ssl default_server;
	listen		[::]:443 ssl default_server;
	ssl_certificate        /etc/ssl/certs/lantek360.crt.pem;
	ssl_certificate_key    /etc/ssl/certs/lantek360.key.pem;

	root /;

	server_name		*.lantek360.com;

	location / {
		proxy_pass	https://127.0.0.1:433;
	}
}